<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Centro Quirúrgico J L Prado - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/splide-2.4.21/dist/css/splide.min.css" rel="stylesheet">
    <link href="assets/vendor/splide-2.4.21/dist/css/themes/splide-sea-green.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center bg-main">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="youtube"><i class="bi bi-youtube"></i></i></a>
                <a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></i></a>
                <a href="#" class="telegram"><i class="bi bi-telegram"></i></i></a>
                <a href="#" class="messenger"><i class="bi bi-messenger"></i></i></a>
            </div>
        </div>
    </section>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center bg-light">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="index.html">Jl Prado</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Welcome to <span>JL Prado</span></h2>
                            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et
                                tempore modi architecto.</p>

                            <a href="#about" class="btn-get-started scrollto">Get Started</a>
                            <a href="https://www.youtube.com/watch?v=0ZbRiVwx87Q" class="glightbox btn-watch-video">
                                <i class="bi bi-play-circle"></i>
                                <span>Watch Video</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Welcome to <span>JL Prado</span></h2>
                            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et
                                tempore modi architecto.</p>
                            <a href="#about" class="btn-get-started scrollto">Get Started</a>
                            <a href="https://www.youtube.com/watch?v=0ZbRiVwx87Q" class="glightbox btn-watch-video">
                                <i class="bi bi-play-circle"></i>
                                <span>Watch Video</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content animate__animated animate__fadeInUp">
                            <h2>Welcome to <span>JL Prado</span></h2>
                            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et
                                tempore modi architecto.</p>
                            <a href="#about" class="btn-get-started scrollto">Get Started</a>
                            <a href="https://www.youtube.com/watch?v=0ZbRiVwx87Q" class="glightbox btn-watch-video">
                                <i class="bi bi-play-circle"></i>
                                <span>Watch Video</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about-us" class="about-us">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>About <strong>Us</strong></h2>
                </div>
                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" style="background: url('http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-about-us.jpg') center/cover no-repeat;"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-around p-3">
                            <p data-aos="fade-up" class="pb-3">
                                We are a family owned medical company who demands the highest quality standards to all doctors and staff that wants to be part of us so we can obtain the best results and offer them to people who are in search of a better and healthier life. Our father
                                founded this company in 1985, he was an international recognized plastic surgeon, passed away in 1999.
                            </p>
                            <p data-aos="fade-up" class="pb-3">
                                We took over his legacy to continue expanding his work to new horizons, In his honor we have created different medical programs to continue helping people. We have an excellent team because our doctors, nurses, administratives, patient coordinators, drivers
                                and other staff are hired once they qualify with our strict requirements and high standards.
                            </p>
                            <p data-aos="fade-up" class="pb-3">
                                With our medical specialties we have dedicated years on performing medical procedures that have changed the life of thousands of people, helping them to obtain a healthier life and making them feel more secure about themselves.
                            </p>
                        </div>
                        <!-- End .content-->
                    </div>
                </div>
                <div class="col-12 my-3">
                    <h5>
                        One of our mayor concerns is to offer an excellent service and care avoiding any possible risk at all times. Our patients wellbeing is our main priority.
                    </h5>
                    <h5>
                        Everyone of our patients has trusted us and now have become our family. We invite you to come and join us with your trust and become a part of our family. We guarantee that you’ll be in the best hands.
                    </h5>
                </div>
            </div>
        </section>
        <!-- End About Us Section -->
        <!-- ======= About Boxes Section ======= -->
        <section id="about-boxes" class="about-boxes">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="assets/img/about-boxes-1.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bi bi-brush bg-main"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-main">
                                    Our Mission
                                </h5>
                                <p class="card-text">
                                    Help people change their lives by improving their physical, mental and emotional health in a friendly and helpful environment.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/about-boxes-2.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bi bi-brush bg-main"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-main">
                                    Our Plan
                                </h5>
                                <p class="card-text">
                                    <ul>
                                        <li>Excellence</li>
                                        <li>Transparency</li>
                                        <li>Difference</li>
                                        <li>Responsibility</li>
                                        <li>Resolution</li>
                                        <li>Passion</li>
                                        <li>Loyalty</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <img src="assets/img/about-boxes-3.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bi bi-brush bg-main"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-main">
                                    Our Vision
                                </h5>
                                <p class="card-text">
                                    To be a hospital recognized for its excellence in medical care, generation of knowledge through research, as well as the training and development of human resources in health.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Boxes Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">

                </div>
                <div class="row">
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-asm-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Bariatrics</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-abm.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Plastic Surgery</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-asmm.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Dental</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-abetterm.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Urology</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2021/02/jlprado-img-services-gs-2.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">General Surgery</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-endoscopy.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Endoscopy</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-afm.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Traumatology</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 mb-1 mb-lg-3" data-aos="fade-up">
                        <a href="">
                            <div class="card border-0 bg-transparent">
                                <img src="http://jlpradosc.com/wp-content/uploads/2020/09/jlprado-img-services-lab.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Blood Work</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Our Cordinators Section ======= -->
        <section id="cordinator" class="cordinator">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Our <strong>Cordinators</strong></h2>
                </div>

                <div class="splide" id="splide" data-aos="fade-up">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Clark Kent</h4>
                                        <span>Cordinator</span>
                                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Diana Prince</h4>
                                        <span>Cordinator</span>
                                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Bruce Wayne</h4>
                                        <span>Cordinator</span>
                                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="member d-flex align-items-start">
                                    <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Harleen Frances</h4>
                                        <span>Cordinator</span>
                                        <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""> <i class="bi bi-linkedin"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


        </section>


        <!-- End Our Cordinators Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Jl Prado</h3>
                        <p>
                            Erasmo Castellanos 874 - 102<br> Zona Rio Tijuana,<br> BC, México<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Jl Prado</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="#">Gabriel Llanes</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/splide-2.4.21/dist/js/splide.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
        new Splide('.splide', {
            type: 'loop',
            perPage: 2,
            perMove: 1,
            autoplay: true,
            breakpoints: {
                640: {
                    perPage: 1,
                },
            }
        }).mount();
    </script>
    <script>
        const glightbox = GLightbox({
            selector: '.glightbox'
        });
    </script>
</body>

</html>